 .login-container {
    display: flex;
    /* width: 70%; */
    /* height: 60vh; */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
  }
  
  .left-side {
    flex: 1;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-side img {
    max-width: 90%;
    max-height: 80%;
    object-fit: cover;
  }
  
  .right-side {
    flex: 1;
    padding: 40px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  